
.carousel-item {
    height: 32rem;
  }

.bg-img1 {
    background-color: #000;
    background-size: cover;
    background-image: url(beautiful-view-greenery-bridge-forest-perfect-background_181624-17827.avif);
}
.bg-img2 {
    background-color: #000;
    background-size: cover;
    background-image: url(add-image-in-flutter-hero.webp);
}
.bg-img3 {
    background-color: #000;
    background-size: cover;
    background-image: url(beautiful-view-greenery-bridge-forest-perfect-background_181624-17827.avif);
}
